@use "@openedx/paragon/styles/css/core/custom-media-breakpoints" as paragonCustomMediaBreakpoints;

@import "~@edx/frontend-component-footer/dist/footer";
@import "~@edx/frontend-component-header/dist/index";

.course-name:hover {
    text-decoration: none !important;
}

button[aria-label="Copy description"] svg {
    width: 16px;
    height: 16px;
}

.pgn__data-table th,
.pgn__data-table tr,
.pgn__data-table.is-striped tr:nth-child(2n) {
    background-color: var(--pgn-color-white);
    border-bottom: 1px solid var(--pgn-color-gray-200);
}

.pgn__data-table th {
    border-top: 1px solid var(--pgn-color-gray-200);
}

.pgn__data-table-wrapper {
    box-shadow: var(--pgn-elevation-box-shadow-centered-1);
}

.truncate-1-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.truncate-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.toast-container {
    z-index: var(--pgn-elevation-modal-zindex);
}

// Fix a bug with a toast on edit tags sheet component: can't click on close toast button
// https://github.com/openedx/frontend-app-authoring/issues/1898
#toast-root[data-focus-on-hidden] {
    pointer-events: initial !important;
}

@media (--pgn-size-breakpoint-min-width-md) {
    .toast-container {
        right: var(--pgn-spacing-toast-container-gutter-lg);
        left: auto;
    }

    .header-link {
        max-width: 75%;
    }
}

.header-link {
    height: fit-content;
}

.header-splitter {
    height: 25px;
}

input:placeholder-shown {
    text-overflow: ellipsis;
}

.upload-disabled {
    pointer-events: none;
    background-color: var(--pgn-color-form-input-bg-disabled);
}

.aspects-embed-container > iframe {
    width: 100%;
    border: 0;
}
